<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!entity">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title *ngIf="entity">{{entity.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="inner-pages-bg">

  <div *ngIf="entity">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{entity.name}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

  <ion-card>
    <ion-card-content>
      <ion-title>Branches</ion-title>
      <div #map id="map" style="width:100%;height:300px"></div>
    </ion-card-content>
  </ion-card>
  

</ion-content>
<ion-footer no-border>
  <ion-toolbar>

  </ion-toolbar>

</ion-footer>